core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.jsonvenv/
kaggle.json
inputs/cherry_leaves_dataset/cherry-leaves/healthy/
inputs/cherry_leaves_dataset/cherry-leaves/powdery_mildew/